
/* 重置浏览器CSS */
html{color:#333333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}


/***********default settings**********/
body {font-family: 'Helvetica Neue', "Hiragino Sans GB","Microsoft Yahei"，Arial, Helvetica, sans-serif;font-size:16px;}
a {color:#FCB310;text-decoration:none;outline:none;}
a:link, a:visited {
    color:#333333;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

a:hover, a:active {
    color:#FCB310;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

a[href^="http:"] a[href^="https:"] {padding-right:13px;background:url('/images/icons.gif') no-repeat right 1px;}
a[href^="http://lynettelu.github.io"] {background-image: none; padding-right: 0;}
a.external:hover {background-position:right -15px;}
.entry-title,.entry-title a {font-size:40px;font-weight:200;margin-bottom:6px;color:#333333;text-align:center;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:16px;}

h2 {font-size:22px;font-weight:200;margin-bottom:25px;}
h3 {font-size:18px;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:20px;line-height:1.8em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word; }
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:40px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6;margin-top:-20px; }
pre code{background-color:transparent;border:none;padding:0;word-wrap:normal;}
pre ol{margin-left:25px;list-style-type:decimal;}
img {
    max-width: 100%;
}
/*************header style****************/
.header {
                    font-family: {font:Title};
                    margin: 80px auto 60px;

              }
          .header h1 {
                    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
                    line-height:106px;
                    font-size:400%;
                    font-weight:200;
                    text-transform:uppercase;
                    text-align: center;
                    z-index:-1;
             }
          .header h1 a {
                    color: #333333;
                    font-weight:100;
                    border:0 ;
                    text-decoration: none;
               }

         .header h1 a:hover, a:active a:visited {
               color:#FCB310;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

          .header h2 {
                    font-family: {Font:Body};
                    color:#AAAAAA;
                    font-size:25px;
                    font-weight:100;
                    line-height:22px;
                    text-align:center;
                    margin-left:-15px;
                    margin:5px auto;

              }

/************layout style*****************/
#content {width:680px;margin:90px auto 60px;min-height:400px;height:auto !important;height:400px;}


/****************entry style**************/
#content .entry{margin-bottom:80px;}
.entry ul{margin-bottom:25px;margin-left:25px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry ol{margin-bottom:25px;margin-left:25px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.1em;}
.entry blockquote{
    display: block;
    line-height: 1.4;
    border-left: 3px solid rgba(230, 230, 230, 0.8);
    padding-left: 20px;
    margin-left: -23px;
    margin-top: 40px;
    margin-bottom:50px;
}
.entry img{max-width:100%;display:block;margin:10px auto;}


.index-content .section { position:relative; padding-top:20px;
                          }

.section {
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 3px;
    width: 1000px;
    border: 4px solid #333333;
}

.section2 {
    margin-top: -16px;
    margin-left: auto;
    margin-right: auto;
    width: 992px;
    border: 1px solid #333333;
}

.index-content .artical-list { width:80%; margin:60px auto;
                             }
.index-content .artical-list li { margin-left:30px;
                                  margin-right: 30px;
                                  margin-top: 100px;
                                  margin-bottom: 200px;}
.index-content h2 { font-size:22px; margin-bottom:40px; }
.index-content h3 { font-size:22px; margin-bottom:40px; margin-top:80px;}
.index-content h2 a { color:#444 }
.entry-list a a:visited{
                    color: #333333;
                    border:0 !important;
                    text-decoration: none;
                    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
               }
.entry-list a:hover {
    color:#FCB310;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.index-content h2 a:hover { color:#FCB310; text-decoration:none; }
.index-content .title-desc {color:#333333;font-size:16px;line-height:1.6em;}

.index-content .artical-cate { padding-bottom: 80px;padding-left:310px;
                            margin-right: 30px; text-align: center;
                               }
.index-content .artical-cate li { display:inline-block; zoom:1; font-size:100%; font-weight:200; width:100px; cursor:pointer;
                                  padding: 10px; float:left; border-top:1px solid #C7C7C7; border-bottom: 1px solid #C7C7C7;
                                }
.index-content .artical-cate li a,
.index-content .artical-cate li a:visited { color:#333333;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out; }
.index-content .artical-cate li a:hover { color:#FCB310;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    text-decoration:none; }
.artical-cate a:visited {
    font-weight: bold;
}

.dropdown ul {
    padding: 5px 0;
min-width: 90px;
z-index: 999;
position: absolute;
top: 20px;
left: 15px;
display: none;
background: rgba(226, 221, 217, 0.8);
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.entry-content {
    padding-top:50px;
    padding-left:15%;
    margin-bottom:50px;
    margin-top:40px;
}

.entry-content ul {
    list-style: none;
}

.entry-content li {
    padding-bottom: 50px;
}

.entry-content li li {
    padding:5px;
}
blockquote {
    display: block;
    line-height: 1.4;
    border-left: 3px solid rgba(230, 230, 230, 0.8);
    padding-left: 20px;
    margin-left: -23px;
    margin-top: 40px;
    margin-bottom:50px;
}

.entry h3 { font-size:22px; margin-bottom:40px; margin-top:80px;}


/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}

/***************contact style*************/
#disqus_container {font-size:12px;}
#disqus_container a.comment{font-size:14px;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}


/**************目录导航**************/
#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#f5f5f5;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

.home-menu { position:fixed; top:15px; left:15px; z-index:5; font-size:0; }
.home-menu-icon { line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px;  background:#000; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:#000;  }
.home-menu-icon:hover,
.home-follow:hover { color:#fff; text-decoration:none; }
.home-contact { color:#fff; margin-top:2px; background:#000; padding:8px 0 7px; text-align:center; display:none;}
.home-contact a { width:30px; display:inline-block; }
.home-contact img { width:18px; }

/**************pagination****************/

.pagination{
    text-align: center;
    color: #444;
    font-weight: 300;
    margin-top: -50px;
    margin-bottom: 100px;
}

.em {
    font-weight: 400;
    display: inline-block;
}


/**************credit****************/
#credit{
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    color: #444;
    z-index: !important
}


/**************responsive****************/
@media screen and (max-width: 750px){
    body {font-size:14px}
    #content {width:85%;margin:100px auto 50px; }

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}

    .entry-title,.entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}

    .index-content .aside { position:relative; width:100%; height:300px; max-width:none; }
    .index-content .section { margin-left:10px; margin-top:20px; width:95%}
    .index-content .section2 {width:98%}
    .index-content .section ul { width:85%;font-size:110%;}
    .index-content .cate-bar { width:85%; }
    .index-content .artical-cate { margin-top:50px; margin-left:auto;margin-right:auto;}
    .index-content .artical-cate li{font-size:120%;margin-left:-220px;visibility:hidden;}
    .index-content img{max-width:90%;}
    .header {font-size:75%;margin-bottom:-120px;}

    .blog .aside,
    .project .aside,
    .opinion .aside {display:none;background-image:none;}
}

@media screen and (max-width: 450px){
    .weibo-con { float:none; }
    .contact-more { margin-top:15px; }
    .contact-more a { margin-left:0; margin-right:40px; }
}

@media (max-width: 1020px){
    #menuIndex {display:none;}
    .home-menu { position:absolute; }
    .index-content .cate-bar ,
    .index-content .artical-list,
    .index-content .artical-cate { width:85%; }
}
