---
layout: home
---

<div class="index-content blog">
    <div class="section">
    <div class="section2">
    <div class="header">
     <h1><a href="/">Across the universe</a></h1>
     <h2>Look at the stars, look how they shine for you.</h2>
   </div>
        <ul class="artical-cate">
            <li class="on"><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><strike>Portfolio</strike></li>
        </ul>

        <ul class="artical-list">
        {% for post in paginator.posts %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a> | <a href="{{ /:categories }}">{{ post.category }}</a></h2>
                                <div class="title-desc">{{ post.excerpt }}</div>

            </li>
        {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <div class="em">{{ page }}</div>
    {% elsif page == 1 %}
      <a href="{{ 'blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: 'blog/blog/', 'blog/' | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

        </ul>
        </div>
     </div>
        <div id="credit">
     Designed and built by Lynette Lu
 </div>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48632403-1', 'lynettelu.co');
  ga('send', 'pageview');

</script>

  </div>
